

{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block login_style %}
<style>
        body {
            background: url("{% static 'backgrounds/login_register.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
        .card {
            background: rgba(255, 255, 255, 0.85);
            border-radius: 10px;
        }
</style>
{% endblock %}

{% block content %}
     <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                            <div class="mb-3">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                            </div>
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="mb-3">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>
                            <div class="mb-3">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small>Already have an account? <a href="{% url 'user-login' %}">Login here</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
